<% content_for :title do %>
  Edit
<% end %>
<div class="container">
  <h1>Edit Article</h1>

  <%= render "form", article: @article %>
  <%= link_to "Detail", @article %>
  <%= link_to "List", articles_path %>
</div>
